.magictime {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

:where(.timeline>li) {
    grid-template-columns: var(--timeline-col-start,minmax(0,0.1fr)) auto var(--timeline-col-end,minmax(0,1fr));
}